<a href="https://colab.research.google.com/github/Pkpallaw16/Python/blob/main/datatype_conversion%26operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bin_a=bin(80)
print(bin_a)
print(type(bin_a))
print(int(bin_a, 2))

hex_a = hex(80)
print(hex_a)
print(int(hex_a, 16))

a = 79

# Base 8(octal)
oct_a = oct(a)
print(oct_a)
print(int(oct_a, 8))

0b1010000
<class 'str'>
80
0x50
80
0o117
79

In [ ]:


num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

0b1010000
<class 'str'>
80
0x50
80
0o117
79
datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
a=12
b=23.45
print(float(a)+b)

35.45

In [ ]:
num_int = 123
num_str = "456.78"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))


print(num_int+float(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>
579.78

In [ ]:
#create two variables
a=10
b=20
 
# addition (+) operator
print(a+b) 
 
# subtraction (-) operator
print(a-b) 
 
# multiplication (*) operator
print(a*b)
 
# division (/) operator
print(b/a)
 
# modulus (%) operator
print(a%b) # prints the remainder of a/b
 
# exponent (**) operator
print(a**b) #prints a^b

30
-10
200
2.0
10
100000000000000000000

In [ ]:
# create two variables
a=100
b=100
 
# (==) operator, checks if two operands are equal or not
d=a==b
print(d)
 
# (!=) operator, checks if two operands are not equal
print(a!=b)
 
# (>) operator, checks left operand is greater than right operand or not
print(a>b)
 
# (<) operator, checks left operand is less than right operand or not
print(a<b)
#(>=) operator, checks left operand is greater than or equal to right operand or not
print(a>=b)
 
# (<=) operator, checks left operand is less than or equal to right operand or not
print(a<=b)

True
False
False
False
True
True

In [ ]:
a=100
b=20
a+=b
a=a+b
a-=b
a*=2

print(a)

240

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [ ]:
#create two variables
a=10 # binary 1010
b=7  # binary 0111
 
# Binary AND (&) operator, done binary AND operation
print(a&b)
 
# Binary OR (|) operator, done binary OR operation
print(a|b)
 
# Binary XOR (^) operator, done binary XOR operation
print(a^b)
 
# Binary ONEs Compliment (~) operator, done binary One's Compliment operation
print(~a)
 
# Binary Left Shift (<<) operator, done binary Left Shift operation
print(a<<1) 
# Binary Right Shift (>>) operator, done binary Right Shift operation
print(a>>1)

2
15
13
-11
20
5

In [ ]:
#take user input as int
a=int(input())
 
# logical AND operation
 
if a%4==0 and a%3==0:
    print("divided by both 4 and 3")

# logical OR operation
if a%4==0 or a%3==0:
    print("either divided by 4 or 3")

# logical NOT operation
if not(a%4==0 or a%3==0):
  
    print("neither divided by 4 nor 3")

8
either divided by 4 or 3

In [ ]:
#We can test if a substring exists within a string or not, using the keyword in.
#membership operator
print('a' in 'program')
print( 'at' not in 'battle')


# Python program to illustrate 
# Finding common member in list  
# using 'in' operator 
list1=[1,2,3,4,5] 
list2=[6,7,8,9] 
for item in list1: 
    if item in list2: 
        print("overlapping")       
else: 
    print("not overlapping")

True
False
not overlapping

In [ ]:
str="pallaw"
if 'e' not in str:
  print("yes")

yes

In [ ]:
#Identity operator
a = 20
b = 20
print(id(a))
print(id(b))

if ( a is b ):
   print("Line 1 - a and b have same identity")
else:
   print("Line 1 - a and b do not have same identity")

if ( id(a) == id(b) ):
   print("Line 2 - a and b have same identity")
else:
   print("Line 2 - a and b do not have same identity")

10915104
10915104
Line 1 - a and b have same identity
Line 2 - a and b have same identity