<a href="https://colab.research.google.com/github/Pkpallaw16/Python/blob/main/Exception_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=[9,4]
try:
  print(list[3])
except IndexError as e:
  print("error has occured:",e)

error has occured: list index out of range

In [ ]:
try:
  a =int(input("enter a number"))
  b=int(input("enter a number"))
  c=a/b
except ZeroDivisionError:
    print("number is divided by zero")
    b=1
    c=a/b
except ValueError:
    print("enter correct value") 
    b=2
    c=a/b 
    
print(c)
print("division is complete")

enter a number2
enter a number0
number is divided by zero
2.0
division is complete

In [ ]:
# initialize the amount variable 
marks = 10000
  
# perform division with 0 
a = marks / 0
print(a)
print(marks)
#In the above example raised the ZeroDivisionError as we are trying to divide a number by 0.

ZeroDivisionError: ignored

In [ ]:
# Python program to handle simple runtime error 

a = [1, 2, 3] 
try: 
	print("Second element = %d" %(a[1]))

	# Throws error since there are only 3 elements in array 
	print("Fourth element = %d" %(a[3]))
  
 

except IndexError: 
	print("An error occurred")
 
print("exception handle")

Second element = 2
An error occurred
exception handle

In [ ]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!", "error occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! error occurred.
Next entry.

The entry is 0
Oops! error occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [ ]:
try:
   # do something
   pass

except ValueError:
   # handle ValueError exception
   pass

except (TypeError, ZeroDivisionError):
   # handle multiple exceptions
   # TypeError and ZeroDivisionError
   pass

except:
   # handle all other exceptions
   pass

In [ ]:


try:
    a =int(input("enter a number"))
    b=int(input("enter a number"))
    print("resource Open")
    print(a/b)

except ValueError as e:
    print("Invalid Input")

except ArithmeticError as e:
    print("Something went Wrong...",e)

finally:
    print("resource Closed")

enter a number5
enter a number0
resource Open
Something went Wrong... division by zero
resource Closed

In [ ]:
try:
    a =int(input("enter a number"))
    b=int(input("enter a number"))
    print("resource Open")
    print(a/b)

except:
    print("Hey, You cannot divide a Number by Zero")

enter a number4
enter a number0
resource Open
Hey, You cannot divide a Number by Zero

In [ ]:
# Python program to demonstrate finally 
	
# No exception Exception raised in try block 
try: 
	k = 5//0 # raises divide by zero exception. 
	print(k) 
	
# handles zerodivision exception	 
except ZeroDivisionError:	 
	print("Can't divide by zero") 
		
finally: 
	# this block is always executed 
	# regardless of exception generation. 
	print('This is always executed')

Can't divide by zero
This is always executed

In [ ]:
# Program to depict else clause with try-except 

# Function which returns a/b 
def AbyB(a , b): 
	try: 
		c = ((a+b) / (a-b)) 
	except ZeroDivisionError as msg:
     
		print("a/b result in 0",msg)
	else: 
		print(c) 

# Driver program to test above function 
AbyB(2.0, 3.0) 
AbyB(3.0, 3.0)

-5.0
a/b result in 0 float division by zero

In [ ]:
class TooYoungException(Exception):
  def __init__(self,msg):
    self.msg=msg
class TooOldException(Exception):
  def __init__(self,msg):
    self.msg=msg   
age=int(input("enter your age"))
if age>60:
  raise TooOldException("your age already crossed") 
elif age<18:
  raise TooYoungException("Please wait some time")

enter your age17

TooYoungException: ignored

In [ ]:
# try for unsafe code 
try: 
	amount = int(input("enter the amount"))
	if amount < 2999: 
		
		# raise the ValueError 
		raise ValueError("please add money in your account") 
	else: 
		print("You are eligible to purchase DSA Self Paced course") 
			
# if false then raise the value error 
except ValueError as e: 
		print(e)

enter the amount2500
please add money in your account

In [ ]:
# A python program to create user-defined exception 

# class MyError is derived from super class Exception 
class MyError(Exception): 

	# Constructor or Initializer 
	def __init__(self, value): 
		self.value = value 

	# __str__ is to print() the value 
	def __str__(self): 
		return(str(self.value)) 

try: 
	raise(MyError(3*2)) 

# Value of Exception is stored in error 
except MyError as error: 
	print('A New Exception occured: ',error)

A New Exception occured:  6

In [ ]:
class NoMoneyException(Exception):
    pass

class OutOfBudget(Exception):
    pass

balance = int(input("Enter a balance: "))
if balance < 1000:
    raise NoMoneyException
elif balance > 10000:
    raise OutOfBudget

Enter a balance: 11000

OutOfBudget: ignored

In [ ]:
# class Error is derived from super class Exception 
class Error(Exception): 

	# Error is derived class for Exception, but 
	# Base class for exceptions in this module 
	pass

class MarriageAge(Error): 

	# Raised when an operation attempts a state 
	# transition that's not allowed. 
	def __init__(self, age, msg): 
		self.age = age 

		# Error message thrown is saved in msg 
		self.msg = msg 
  def print_info(self):
    print(self.age,self.msg)  
try: 
  age =int(input("enter age"))
  if age<18 or age>60:
    raise(MarriageAge(age,"Not Allowed"))
  else:
    Tr=MarriageAge(age,"Allowed")


# Value of Exception is stored in error 
except MarriageAge as error: 
	print('Exception occured: ',error.msg) 
tr.print_info()

IndentationError: ignored

In [ ]:
def cube(y):
    return y*y*y
  
lambda_cube = lambda y: y*y*y
  
# using the normally
# defined function
print(cube(5))
  
# using the lamda function
print(lambda_cube(5))
lambda_sum=lambda a,b:a+b
print(lambda_sum(4,5))

125
125
9

In [ ]:
# Python code to illustrate
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [ ]:
# Python 3 code to people above 18 yrs
ages = [13, 90, 17, 59, 21, 60, 5]

adults = list(filter(lambda age: age>18, ages))

print(adults)

[90, 59, 21, 60]

In [ ]:
# Python code to illustrate
# map() with lambda()
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [ ]:
# Python program to demonstrate
# use of lambda() function
# with map() function
animals = ['dog', 'cat', 'parrot', 'rabbit']

# here we intend to change all animal names
# to upper case and return the same
uppered_animals = list(map(lambda animal: str.upper(animal), animals))

print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [ ]:
# Python code to illustrate
# reduce() with lambda()
# to get sum of a list

from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x * y), li)
print (sum)

40000000

In [ ]:
# python code to demonstrate working of reduce()
# with a lambda function

# importing functools for reduce()
import functools

# initializing list
lis = [ 1 , 3, 5, 6, 2, ]

# using reduce to compute maximum element from list
print ("The maximum element of the list is : ",end="")
print (functools.reduce(lambda a,b : a if a > b else b,lis))

The maximum element of the list is : 6