<a href="https://colab.research.google.com/github/Pkpallaw16/Python/blob/main/input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python program showing how to
# multiple input using split

# taking two inputs at a time
x, y = input("Enter a two value: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)
print()

Enter a two value: ram shayam
Number of boys:  ram
Number of girls:  shayam

In [ ]:
# taking three inputs at a time
x, y, z = input("Enter a three value: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)
print()

Enter a three value: ram   shayam mohan
Total number of students:  ram
Number of boys is :  shayam
Number of girls is :  mohan

In [ ]:
# taking two inputs at a time
a, b = input("Enter a two value: ").split()
print("First number is {} and second number is {}".format(a, b))
print()

Enter a two value: 4 5
First number is 4 and second number is 5

In [ ]:
# taking multiple inputs at a time
# and type casting using list() function
x = list(map(int, input("Enter a multiple value: ").split()))
print("List of students: ", x)

Enter a multiple value: 3 5 6 7 8 9
List of students:  [3, 5, 6, 7, 8, 9]

In [ ]:
# Python program showing
# how to take multiple input
# using List comprehension

# taking two input at a time
x, y = [int(x) for x in input("Enter two value: ").split(",")]
print("First Number is: ", x,type(x))
print("Second Number is: ", y)
print()

Enter two value: 3,5
First Number is:  3 <class 'int'>
Second Number is:  5

In [ ]:
# taking three input at a time
x, y, z = [int(x) for x in input("Enter three value: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)
print("Third Number is: ", z)
print()

Enter three value: 4 5 6
First Number is:  4
Second Number is:  5
Third Number is:  6

In [ ]:
# taking two inputs at a time
x, y = [int(x) for x in input("Enter two value: ").split()]
print("First number is {} and second number is {}".format(x, y))
print("First number is "+ str(x)+" and second number is "+ str(y))
print()

Enter two value: 4 5
First number is 4 and second number is 5
First number is 4 and second number is 5

In [ ]:
# taking multiple inputs at a time
x = [int(x) for x in input("Enter multiple value: ").split()]
print("Number of list is: ", x)

Enter multiple value: 4 5 2 3 5
Number of list is:  [4, 5, 2, 3, 5]

In [ ]:
# taking multiple inputs at a time separated by comma
x = [int(x) for x in input("Enter multiple value: ").split(",")]
print("Number of list is: ", x)

In [ ]:
# Python 3 code for printing
# on the same line printing
# geeks and geeksforgeeks
# in the same line

print("abc", end =" ")
print("xyz")

# array
a = [1, 2, 3, 4]

# printing a element in same
# line
for i in range(4):
	print(a[i], end =" ")
# This Python program must be run with
# Python 3 as it won't work with 2.7.

# ends the output with '@'
print("Python" , end = '@')
print("pqr")

abc xyz
1 2 3 4 Python@pqr

In [1]:
#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')

print('prtk','agarwal', sep='', end='@')
print('abc')

09-12-2016
prtkagarwal@abc

In [2]:
# Python program showing
# use of format() method

# using format() method
print('I love {} for "{}!"'.format('abc', 'abc'))

# using format() method and refering
# a position of the object
print('{0} and {1}'.format('abc', 'prtk'))

print('{1} and {0}'.format('abc', 'prtk'))


# the above formatting can also be done by using f-Strings
# Although, this features work only with python 3.6 or above.

I love abc for "abc!"
abc and prtk
prtk and abc

In [4]:
# Python program to
# show format () is
# used in dictionary

tab = {'abc': 4127, 'for': 4098, 'abc': 8637678}

# using format() in dictionary
print('abc: {0[abc]:d}; For: {0[for]:d}; '
	'abc: {0[abc]:d}'.format(tab))

data = dict(fun ="abcForabc", adj ="Portal")

# using format() in dictionary
print("I love {fun} computer {adj}".format(**data))

abc: 8637678; For: 4098; abc: 8637678
I love abcForabc computer Portal

In [ ]:
str ="ret"
print('Largest string is ' +str+ ' and its length is '+str(a))