<a href="https://colab.research.google.com/github/Pkpallaw16/Python/blob/main/set_array_bool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To create an array of numeric values, we need to import the array module. For example:

import array as arr
a = arr.array('I', [1, 3, 4])
print(a)

array('I', [1, 3, 4])

In [ ]:
#Python Lists Vs Arrays
#In Python, we can treat lists as arrays. However, we cannot constrain the type of elements stored in a list. For example:

# elements of different types
a = [1, 3.5, "Hello"] 
#If you create arrays using the array module, all elements of the array must be of the same numeric type.

import array as arr
# Error
a = arr.array('d', [1, 3.5, "Hello"])

TypeError: ignored

In [ ]:
import array as arr
a = arr.array('i', [2, 4, 6, 8])

print("First element:", a[0])
print("Second element:", a[1])
print("Last element:", a[-1])

First element: 2
Second element: 4
Last element: 8

In [ ]:
import array as arr

numbers_list = [2, 5, 62, 5, 42, 52, 48, 5]
numbers_array = arr.array('i', numbers_list)

print(numbers_array[2:5]) # 3rd to 5th
print(numbers_array[:-5]) # beginning to 4th
print(numbers_array[5:])  # 6th to end
print(numbers_array[:])   # beginning to end

array('i', [62, 5, 42])
array('i', [2, 5, 62])
array('i', [52, 48, 5])
array('i', [2, 5, 62, 5, 42, 52, 48, 5])

In [ ]:
import array as arr

numbers = arr.array('i', [1, 2, 3, 5, 7, 10])

# changing first element
numbers[0] = 0    
print(numbers)     # Output: array('i', [0, 2, 3, 5, 7, 10])

# changing 3rd to 5th element
numbers[2:5] = arr.array('i', [4, 6, 8])   
print(numbers)     # Output: array('i', [0, 2, 4, 6, 8, 10])

array('i', [0, 2, 3, 5, 7, 10])
array('i', [0, 2, 4, 6, 8, 10])

In [ ]:
import array as arr

numbers = arr.array('i', [1, 2, 3])

numbers.append(4)
print(numbers)     # Output: array('i', [1, 2, 3, 4])

# extend() appends iterable to the end of the array
numbers.extend([5, 6, 7])
print(numbers)     # Output: array('i', [1, 2, 3, 4, 5, 6, 7])

array('i', [1, 2, 3, 4])
array('i', [1, 2, 3, 4, 5, 6, 7])

In [ ]:
import array as arr

odd = arr.array('i', [1, 3, 5])
even = arr.array('i', [2, 4, 6])

numbers = arr.array('i')   # creating empty array of integer
print(numbers)
numbers = odd + even

print(numbers)

array('i')
array('i', [1, 3, 5, 2, 4, 6])

In [ ]:
import array as arr

number = arr.array('i', [1, 2, 3, 3, 4])

del number[2]  # removing third element
print(number)  # Output: array('i', [1, 2, 3, 4])

del number  # deleting entire array
print(number)  # Error: array is not defined

array('i', [1, 2, 3, 4])

NameError: ignored

In [ ]:
import array as arr

numbers = arr.array('i', [10, 11, 12, 12, 13])

numbers.remove(12)
print(numbers)   # Output: array('i', [10, 11, 12, 13])

print(numbers.pop(1))   # Output: 12
print(numbers)   # Output: array('i', [10, 11, 13])

array('i', [10, 11, 12, 13])
11
array('i', [10, 12, 13])

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3,3,5,5}
list=[1, 2, 3,3,5,5]
print(my_set)
print(list)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3, 5}
[1, 2, 3, 3, 5, 5]
{1.0, 'Hello', (1, 2, 3)}

In [ ]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

{1, 2, 3, 4}
{1, 2, 3}

TypeError: ignored

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}
list=[]

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
my_set.add(3)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

In [ ]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

print(my_set)

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)
print(A.union(B))

In [ ]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)
print(A.intersection(B))

In [ ]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)
print(A.difference(B))

In [ ]:
# in keyword in a set
# initialize my_set
my_set = set("apple")
print(my_set)

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

In [ ]:
# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4,4,5,5])
print(A)
B = frozenset([3, 4, 5, 6])
A.add(7)

frozenset({1, 2, 3, 4, 5})

AttributeError: ignored

In [ ]:
# Check true
a = True
print(type(a))
print(bool(a))
# Check false
a = False
print(bool(a))
# Check 0
a = 0
print(bool(a))
# Check 1
a = 1.0
print(bool(a))
# Check Equality
a = 5
b = 10
print(bool( a==b))
# Check None
a = None
print(bool(a))
# Check an empty sequence
a = (1,2)
print(bool(a))
# Check an emtpty mapping
a = {}
print(bool(a))
# Check a non empty string
a = 'abc'
print(bool(a))

In [ ]:
#You can evaluate any expression in Python, and get one of two answers, True or False.

#When you compare two values, the expression is evaluated and Python returns the Boolean answer:

#Example
a=10 > 9
print(type(a))
print(a)
print(10 == 9)
print(10 < 9)