<a href="https://colab.research.google.com/github/Pkpallaw16/Python/blob/main/string_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Accessing string characters in Python
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])
print('str[0] = ', str[8])

#slicing 2nd to 5th character
print('str[1:5] = ', str[0:5])
print('str[5:] = ', str[5:])
print('str[:5] = ', str[:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[3:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[0] =  z
str[1:5] =  progr
str[5:] =  amiz
str[:5] =  progr
str[5:-2] =  am

In [ ]:
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 +" "+ str2)

# using *
print('str1 * 5 =', str1 * 5)

str1 + str2 =  Hello World!
str1 * 5 = HelloHelloHelloHelloHello

In [ ]:
str="PrOgRaMiZ"
print(str[0].lower())
print(str.upper())

p
PROGRAMIZ

In [ ]:
str1= "This will split all words into a list"
print(str1.split())
print('$'.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string']))

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']
This$will$join$all$words$into$a$string

In [ ]:
str3='Happy New Year'
print(str3.find('New'))
str4='Happy New Year'
print(str4.replace('Happy','good'))

6
good New Year

In [ ]:

#The format() method formats the specified value(s) and insert them inside the string's placeholder.
#The placeholder is defined using curly brackets: {}
print('\n--- Default Order ---')
print("{}, {} and {}".format('John','Bill','Sean'))

--- Default Order ---
John, Bill and Sean

In [ ]:
print('\n--- Positional Order ---')
print("{1}, {0} and {2}".format('John','Bill','Sean'))

--- Positional Order ---
Bill, John and Sean

In [ ]:
print('\n--- Keyword Order ---')
x=8
y=9
z=8
print("the value of x,y,z is {},{},{}".format(x,y,z))
print("{s}, {b} and {j}".format(j='John',b='Bill',s='Sean'))

--- Keyword Order ---
the value of x,y,z is 8,9,8
Sean, Bill and John

In [ ]:
s = 'My name is {name} and I am a {job_title}'

my_dict = {'name': 'Pallaw', 'job_title': 'Software Engineer'}

print(s.format_map(my_dict))
print(s.format(**my_dict))

My name is Pallaw and I am a Software Engineer
My name is Pallaw and I am a Software Engineer

Built-in functions to Work with Python
Various built-in functions that work with sequence work with strings as well.

Some of the commonly used ones are enumerate() and len(). The enumerate() function returns an enumerate object. It contains the index and value of all the items in the string as pairs. This can be useful for iteration.

Similarly, len() returns the length (number of characters) of the string.

In [ ]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

In [ ]:
fruit1 = 'Apple'

print(fruit1 == 'Apple')
print(fruit1 != 'Apple')
print(fruit1 < 'Apple')
print(fruit1 > 'Apple')
print(fruit1 <= 'Apple')
print(fruit1 >= 'Apple')

True
False
False
False
True
True

In [ ]:
s1 = 'Apple'

s2 = 'Apple'
# case sensitive equals check
if s1 == s2:
    print('s1 and s2 are equal.')

if s1.__eq__(s2):
    print('s1 and s2 are equal.')

s1 and s2 are equal.
s1 and s2 are equal.

In [ ]:
#str.count(sub, start, end)
s = 'I like Python programming. Python is Awesome!'

print('Number of occurrence of "Python" in String =',s.count("Python"))

print('Number of occurrence of "Python" in String between index 0 to 20 =', s.count("Python", 0, 20))

Number of occurrence of "Python" in String = 2
Number of occurrence of "Python" in String between index 0 to 20 = 1

In [ ]:
#str.replace(old, new, count)
s = 'Java is Nice'

# simple string replace example
str_new = s.replace('Java', 'Python')
print(str_new)

# replace character in string
s = 'dododo'
str_new = s.replace('d', 'c')
print(str_new)

s = 'dododo'
str_new = s.replace('d', 'c', 2)
print(str_new)

Python is Nice
cococo
cocodo

In [ ]:
s = 'abc'

print('s contains a =', s.__contains__('a'))
print('s contains A =', s.__contains__('A'))
print('s contains X =', s.__contains__('X'))

s contains a = True
s contains A = False
s contains X = False